RewriteEngine On
RewriteBase /

# Check if the requested filename is not a file
RewriteCond %{REQUEST_FILENAME} !-f
# Check if the requested filename is not a directory
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite the request to add .php file extension
RewriteRule ^([^\.]+)$ $1.php [NC,L]